@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Raleway", sans-serif;
    color: #f7f1f1;
    background-color: #1f2122;
}

.movie-title{
    color: rgba(185, 4, 13, 0.856);
    font-weight: 800;
}

.movie-card {
    margin-top: 2rem;
    height: 800px;
    text-align: center;
}


.movie-poster-container img {
    margin-top: 1.5rem;
    border-radius: 5px; 
}

.movie-poster-container img:hover {
    transform: scale(1.05);
    box-shadow: 8px 8px 8px -4px rgba(80, 1, 1, 0.705);
}


.movie-rating {
    display: inline-block;
    border: 1px solid #f7f1f1c0;
    padding: 0.3rem;
    border-radius: 5px;
}

.movie-info-quote {
    color: #f7f1f1c0;
    font-style: italic;
    font-size: 1.1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.movie-info-overview-title {
    text-transform: capitalize;
    color: rgba(185, 4, 13, 0.856);
    margin-bottom: 0.5rem;
}

.movie-info-overview {
    width: 65%;
    margin-left: 20rem;
}

.movie-info-actions {
    font-size: 1.1rem;
}

.movie-info-actions ul {
    list-style: none;
}

.movie-info-actions ul li {
    display: inline-block;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgba(185, 4, 13, 0.856);
}

.movie-info-actions ul li:hover {
    transform: scale(1.1);
    box-shadow: 8px 8px 8px -4px rgba(80, 1, 1, 0.705);
}

.movie-info-actions ul li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    text-align: center;
    color: #a39f9f;
    opacity: 0;
    animation: fade-in 2.5s ease-in-out forwards;
}

@keyframes fade-in {
    100% {opacity: 1;}
}

footer ul {
    list-style: none;
}

footer ul li {
    display: inline-block;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

footer ul li a {
    font-size: 1.5rem;
    text-transform: capitalize;
    text-decoration: none;
    color: #777;
}